.report {
  @apply grid lg:grid-cols-3 px-8 gap-x-6;
}

.sub-card {
  @apply md:col-span-2 card flex flex-col w-full gap-y-6;
  @apply mb-8;
}

.card {
  @apply bg-white rounded-2xl shadow-md px-6 pt-6;
  @apply lg:h-screen lg:overflow-y-auto lg:sticky lg:top-0;
  @apply pb-6;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.risk-section {
  @apply flex flex-col lg:flex-row gap-6 lg:flex-1;
}

.risk-chart {
  @apply flex-1;
}

.lorem-chart {
  @apply mb-6 md:mb-0 flex-1;
}
