.report {
  @apply grid md:grid-cols-3 px-8 gap-x-6;
  @apply h-screen;
}

.sub-card {
  @apply md:col-span-2 card flex flex-col w-full gap-y-6;
  @apply h-full overflow-hidden;
}

.card {
  @apply bg-white rounded-2xl shadow-md px-6 pt-6;
  @apply h-full overflow-y-auto;
  @apply pb-6;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.risk-section {
  @apply flex flex-col md:flex-row gap-6 md:flex-1;
}

.risk-chart {
  @apply flex-1;
}

.lorem-chart {
  @apply mb-6 md:mb-0 flex-1;
}
