<div class="flex">
  <div class="sidebar-container">
    <div class="toggle-button-wrapper">
      <div class="toggle-bg">
        <button (click)="toggleSideMenu()" class="toggle-btn">
          <img
            [src]="
              showSideMenu
                ? 'assets/icons/arrow-left.svg'
                : 'assets/icons/arrow-right.svg'
            "
            alt="toggle menu"
          />
        </button>
      </div>
    </div>

    <div
      class="sidebar-content"
      [ngClass]="{ expanded: showSideMenu, collapsed: !showSideMenu }"
    >
      @if (!showSideMenu) {
      <div class="logo-container">
        <img src="assets/menu-icons/logo.svg" alt="Logo" />
      </div>
      }

      <div class="main-menu">
        @for (menuItem of menuItems; track menuItem.title; let i = $index) { @if
        ( menuItem.title !== 'Support' && menuItem.title !== 'Settings' &&
        menuItem.title !== 'Profile' ) {
        <div
          class="menu-item"
          [ngClass]="{
            active: menuItem.active || isActiveRoute(menuItem.path)
          }"
          (click)="navigateToRoute(menuItem.path)"
        >
          <div class="menu-icon">
            <img
              [src]="'assets/menu-icons/' + menuItem.icon"
              alt="{{ menuItem.title }}"
            />
          </div>
          @if (showSideMenu) {
          <span
            class="menu-text"
            [ngClass]="{
              active: menuItem.active || isActiveRoute(menuItem.path),
              inactive: !menuItem.active && !isActiveRoute(menuItem.path)
            }"
          >
            {{ menuItem.title }}
          </span>
          }
        </div>
        } }
      </div>

      <div class="secondary-menu">
        @for (menuItem of menuItems; track menuItem.title) { @if (
        menuItem.title === 'Support' || menuItem.title === 'Settings' ) {
        <div
          class="secondary-menu-item"
          [ngClass]="{
            active: menuItem.active || isActiveRoute(menuItem.path)
          }"
          (click)="navigateToRoute(menuItem.path)"
        >
          <div class="menu-icon">
            <img
              [src]="'assets/menu-icons/' + menuItem.icon"
              alt="{{ menuItem.title }}"
            />
          </div>
          @if (showSideMenu) {
          <span
            class="menu-text"
            [ngClass]="{
              active: menuItem.active || isActiveRoute(menuItem.path),
              inactive: !menuItem.active && !isActiveRoute(menuItem.path)
            }"
          >
            {{ menuItem.title }}
          </span>
          }
        </div>
        } }
      </div>

      <div class="user-profile">
        <div class="user-avatar">
          <span>
            <img src="assets/menu-icons/profile.png" alt="User Avatar" />
          </span>
        </div>
        @if (showSideMenu) {
        <div class="user-info">
          <div class="user-name">
            <p>Hello Harmony</p>
          </div>
          <p class="user-email">user&#64;spike.com</p>
        </div>
        } @if (showSideMenu) {
        <img
          class="logout-btn"
          src="assets/menu-icons/logout.svg"
          alt="logout icon"
          (click)="logout()"
        />
        }
      </div>
    </div>
  </div>
</div>
