<div class="network-container">
  <div class="network-flow-wrapper">
    <div class="network-main-flow">
      <app-server
        [serverName]="'Loremipsumm'"
        [background]="'bg-red-50'"
        [image]="'assets/network-nodes/venetian-mask.svg'"
        [iconSize]="'7'"
        [showTopIcon]="true"
        [topIconColor]="'bg-purple-600'"
        [topIcon]="'assets/network-nodes/users.svg'"
        (serverHover)="onServerHover($event)"
        (serverLeave)="onServerLeave()"
      ></app-server>

      <span class="arrow-image">
        <img src="assets/network-nodes/arrow.svg" alt="arrow" />
      </span>

      <app-server
        [serverName]="'Loremipsu'"
        [background]="'bg-blue-100'"
        (serverHover)="onServerHover($event)"
        (serverLeave)="onServerLeave()"
      ></app-server>

      <span class="arrow-image">
        <img src="assets/network-nodes/arrow.svg" alt="arrow" />
      </span>

      <app-server
        (serverHover)="onServerHover($event)"
        (serverLeave)="onServerLeave()"
      ></app-server>

      <span class="double-arrow-image">
        <img src="assets/network-nodes/double-arrow.svg" alt="double arrow" />
      </span>

      <div class="end-servers-container">
        <span>
          <app-server
            [serverName]="'Loremipsumdolorsit'"
            [address]="'192.168.1.1'"
            [showTopIcon]="true"
            (serverHover)="onServerHover($event)"
            (serverLeave)="onServerLeave()"
          ></app-server>
        </span>
        <span>
          <app-server
            [serverName]="'Loremipsumdolorsit'"
            [address]="'192.168.1.2'"
            [showTopIcon]="true"
            (serverHover)="onServerHover($event)"
            (serverLeave)="onServerLeave()"
          ></app-server>
        </span>
      </div>

      <div class="absolute z-50 pointer-events-none">
        <app-network-modal [item]="hoveredServerName"></app-network-modal>
      </div>
    </div>
  </div>

  <div>
    <app-network-node-hero></app-network-node-hero>
  </div>
</div>
