<div class="bg-gray-50 rounded-lg p-6 flex justify-start items-center">
  <app-server
    [serverName]="'Loremipsumm'"
    [background]="'bg-red-50'"
    [image]="'assets/network-nodes/venetian-mask.svg'"
    [iconSize]="'7'"
    [showTopIcon]="true"
  ></app-server>

  <span>
    <img src="assets/network-nodes/arrow.svg" alt="arrow" />
  </span>

  <app-server></app-server>

  <span>
    <img src="assets/network-nodes/arrow.svg" alt="arrow" />
  </span>

  <app-server></app-server>

  <span>
    <img src="assets/network-nodes/double-arrow.svg" alt="double arrow" />
  </span>

</div>
