<div class="flex flex-col items-center justify-center relative">
  <div
    *ngIf="showTopIcon"
    class="{{
      topIconColor
    }} rounded-full w-6 h-6 flex items-center justify-center absolute -top-4 -right-1 z-10"
  >
    <img class="w-4 h-4" [src]="topIcon" alt="top icon" />
  </div>

  <span
    class="{{ background }} rounded-full w-{{ circleSize }} h-{{
      circleSize
    }} flex items-center justify-center mb-1"
  >
    <img
      class="w-{{ iconSize }} h-{{ iconSize }}"
      [src]="image"
      alt="server icon"
    />
  </span>

  <span class="text-xs font-medium text-gray-700">{{ serverName }}</span>
</div>
