<div class="flex flex-col items-center justify-center">
  <div class="relative mb-1">
    <div
      *ngIf="showTopIcon"
      class="{{
        topIconColor
      }} rounded-full w-6 h-6 flex items-center justify-center absolute -top-2 -right-2 z-10"
    >
      <img class="w-4 h-4" [src]="topIcon" alt="top icon" />
    </div>

    <span
      class="{{
        background
      }} rounded-full w-12 h-12 flex items-center justify-center"
    >
      <img
        class="w-{{ iconSize }} h-{{ iconSize }}"
        [src]="image"
        alt="server icon"
      />
    </span>
  </div>

  <div class="flex flex-col items-center justify-center font-medium">
    <span class="text-xs text-center">{{ serverName }}</span>
    <span *ngIf="address" class="ip-address text-center">{{ address }}</span>
  </div>
</div>
