<div class="server-container">
  <div class="server-icon-wrapper">
    <div
      *ngIf="showTopIcon"
      class="top-icon {{ topIconColor }}"
    >
      <img [src]="topIcon" alt="top icon" />
    </div>

    <span class="server-icon {{ background }}">
      <img
        class="w-{{ iconSize }} h-{{ iconSize }}"
        [src]="image"
        alt="server icon"
      />
    </span>
  </div>

  <div class="server-labels">
    <span class="server-name">{{ serverName }}</span>
    <span *ngIf="address" class="ip-address">{{ address }}</span>
  </div>
</div>