@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: "Public Sans",
      density: 0,
    )
  );
}

html,
body {
  @apply bg-accent text-gray-700;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Public Sans", "Helvetica Neue", sans-serif;
}

app-root {
  display: block;
  min-height: 100vh;
  @apply bg-accent;
}

.card {
  @apply bg-white rounded-2xl shadow-md mb-8 px-6 pt-6;
}

h1 {
  @apply text-primary text-xl font-bold;
}

.divider {
  @apply w-full text-gray-400;
}

.divider-bottom {
  @apply mt-3;
}

.divider-top {
  @apply mb-3;
}

.icon-container {
  @apply w-12 h-12 bg-blue-100 rounded-full flex items-center justify-center;
}

.icon-container-sm {
  @apply w-10 h-10  bg-blue-100 rounded-full flex items-center justify-center;
}
  

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}